<!DOCTYPE html>
<html>
    <head><title>Pill Reminder: Forgot</title>
        <link rel="stylesheet" href="resetpass.css">
    </head>
    <body>
        <div class="reset">
            <div class="resetimg">
                <h1>
                    <img src="http://localhost:8080/PillsProjectOriginal/views/images/oie_png.png">
                </h1>
            </div>
            <div class="resetform">
                <div class="resetform1">
                    <form>
                        <div class="form1">
                            <h2><span>Reset Password!</span></h2>
                            <p class=" r1">
                                <span>
                                    <label></label>
                                    <input type="text" name="email" placeholder="Email">
                                </span> 
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="resetbutton">
                <div class="resetbutton1">
                    <p class=" r2">
                        <span>
                            <label></label>
                            <a href="http://localhost:8080/PillsProjectOriginal/views/Login.html">
                            <input type="submit" name="submit" value="Send reset link"></a>
                        </span> 
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>